In [1]:
from langchain.llms import CTransformers  # to load the llama2 model

In [2]:
llm = CTransformers(model="model\llama-2-7b-chat.ggmlv3.q4_0.bin",
                        model_type="llama", config={'max_new_tokens':3800,'temperature': 0.5,'context_length': 3600})

c:\Users\Prabal Kuinkel\Desktop\ARL-Intern\privategpt\privategpt\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
from langchain_community.utilities import SQLDatabase


# MySQL connection URI
username = 'root'
password = 'prabal9869'
host = '127.0.0.1'
dbname = 'arl_bank'  # Database name

# Constructing the MySQL URI
mysql_uri = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"

# # Initializing SQLDatabase object for MySQL
db = SQLDatabase.from_uri(mysql_uri, sample_rows_in_table_info=3)
print(db.table_info)

CREATE TABLE transactions (
	`Account_No` VARCHAR(50) NOT NULL,
	`Transaction_details` TEXT,
	`Withdrawal_amount` INTEGER,
	`Deposit_amount` INTEGER,
	`Balance_amount` INTEGER,
	`Value_date` DATE,
	`Date` DATE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from transactions table:
Account_No	Transaction_details	Withdrawal_amount	Deposit_amount	Balance_amount	Value_date	Date
409000611074'	TRF FROM  Indiaforensic SERVICES	0	1000000	1000000	2022-10-05	2022-10-05
409000611074'	TRF FROM  Indiaforensic SERVICES	0	1000000	2000000	2022-10-11	2022-10-11
409000611074'	FDRL/INTERNAL FUND TRANSFE	0	500000	2500000	2022-10-24	2022-10-24
*/

In [4]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm=llm,db=db,verbose=True)

# FEW SHORT LEARNING

In [5]:
few_shots=[
    {
        'Question':"What is my income in my last 3 months.My Account Number is 409000493201'. ?",
        'SQLQuery':"""SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Account_No = "409000493201'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH);
        """,
        'SQLResult':"16725509",
        'Answer':"16725509 is the income of last 3 months."
    },

    {
        'Question':"What is the total expenses of last 8 months for account number 409000611074' ?",
        'SQLQuery':"""SELECT SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE 
Account_No = "409000611074'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 8 MONTH);
        """,
        'SQLResult':"75124046",
        'Answer':"75124046 is the total expenses of last 8 months."
    },
      {
        'Question':"How much did I save last month as my account number is 409000493201'  ?",
        'SQLQuery':"""SELECT (SUM(Deposit_amount) - SUM(Withdrawal_amount)) AS Savings_Last_Month FROM 
transactions WHERE Account_No = "409000493201'" AND YEAR(Value_date) = YEAR(CURRENT_DATE() 
- INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH);
        """,
        'SQLResult':"-193509",
        'Answer':"You saved -193509 last month."
    },
    {
        'Question':"How many transactions did I make in last 2 week as my account number is 409000493201' ",
        'SQLQuery':"""SELECT COUNT(*) AS Total_Transactions FROM transactions WHERE 
Account_No = "409000493201'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 WEEK);
        """,
        'SQLResult':"24",
        'Answer':"You made 24 transactions in last 2 week."
    },
     {
        'Question':"What was my total spending last week as my account number is 409000493201' ",
        'SQLQuery':"""SELECT SUM(Withdrawal_amount) AS Total_Spending FROM transactions WHERE Account_No = "409000493201'" AND 
Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK);
        """,
        'SQLResult':"515559",
        'Answer':"515559 is your total spending last week."
    }
#     ,
#     {
#         'Question': "Give me a breakdown of my income and expenses for each day this month as my account number is  409000493201' ?",
#         'SQLQuery': """SELECT Date, SUM(Deposit_amount) AS Total_income ,SUM(Withdrawal_amount) AS Total_Expenses 
# FROM transactions 
# WHERE Account_No = "409000493201'"
# AND YEAR(Value_date) = YEAR(CURRENT_DATE())
# AND MONTH(Value_date) = MONTH(CURRENT_DATE())
# GROUP BY Date;
# """,
#         'SQLResult':
#         """
# Date              Total_income          Total_Expenses
# 2024-06-02         200000                 183648
# 2024-06-03         0                      80666
# 2024-06-04         200000                 135504
# 2024-06-05         0                      92031
# 2024-06-06         0                      118475
# 2024-06-07         300000                 16440
# 2024-06-09         0                      62112
# 2024-06-10         0                      10331
# """    ,
#         'Answer': """ Result:
# Date              Total_income          Total_Expenses
# 2024-06-02         200000                 183648
# 2024-06-03         0                      80666
# 2024-06-04         200000                 135504
# 2024-06-05         0                      92031
# 2024-06-06         0                      118475
# 2024-06-07         300000                 16440
# 2024-06-09         0                      62112
# 2024-06-10         0                     10331
# """         
#     }
    , {
        'Question': "Give me a breakdown of my expenses for each day this month as my account number is  409000493201' ?",
        'SQLQuery': """SELECT Date, SUM(Withdrawal_amount) AS Total_Expenses 
FROM transactions 
WHERE Account_No = "409000493201'"
AND YEAR(Value_date) = YEAR(CURRENT_DATE())
AND MONTH(Value_date) = MONTH(CURRENT_DATE())
GROUP BY Date;
""",
        'SQLResult':
        """
Date                        Total_Expenses
2024-06-02                   183648
2024-06-03                   80666
2024-06-04                   135504
2024-06-05                   92031
2024-06-06                   118475
2024-06-07                   16440
2024-06-09                   62112
2024-06-10                   10331
"""
        ,
        'Answer': """The total_expenses is 183648,80666,135504,92031,118475,16440,62112,10331 for the year 2024 month of 6 and date 02,03,04,05,06,07,09 and 10.  """         
    }
]

In [6]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma
import json


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

# Convert lists and dictionaries to JSON strings
# Convert lists and dictionaries to JSON strings, filtering out None values
to_vectorize = [
    " ".join(
        [json.dumps(value) if isinstance(value, (list, dict)) else (value if value is not None else "") for value in example.values()]
    )
    for example in few_shots
]

c:\Users\Prabal Kuinkel\Desktop\ARL-Intern\privategpt\privategpt\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The class `HuggingFaceEmbeddings` was deprecated in LangChain 0.2.2 and will be removed in 0.3.0. An updated version of the class exists in the langchain-huggingface package and should be used instead. To use it run `pip install -U langchain-huggingface` and import as `from langchain_huggingface import HuggingFaceEmbeddings`.
  warn_deprecated(
c:\Users\Prabal Kuinkel\Desktop\ARL-Intern\privategpt\privategpt\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [7]:
to_vectorize

['What is my income in my last 3 months.My Account Number is 409000493201\'. ? SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Account_No = "409000493201\'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH);\n         16725509 16725509 is the income of last 3 months.',
 'What is the total expenses of last 8 months for account number 409000611074\' ? SELECT SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE \nAccount_No = "409000611074\'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 8 MONTH);\n         75124046 75124046 is the total expenses of last 8 months.',
 'How much did I save last month as my account number is 409000493201\'  ? SELECT (SUM(Deposit_amount) - SUM(Withdrawal_amount)) AS Savings_Last_Month FROM \ntransactions WHERE Account_No = "409000493201\'" AND YEAR(Value_date) = YEAR(CURRENT_DATE() \n- INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH);\n         -193509 You saved -193509 last month.',
 'How many transactions did I make in last 2 week as my account number is 409000493201\'  SELECT COUNT(*) AS Total_Transactions FROM transactions WHERE \nAccount_No = "409000493201\'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 WEEK);\n         24 You made 24 transactions in last 2 week.',
 'What was my total spending last week as my account number is 409000493201\'  SELECT SUM(Withdrawal_amount) AS Total_Spending FROM transactions WHERE Account_No = "409000493201\'" AND \nValue_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK);\n         515559 515559 is your total spending last week.',
 'Give me a breakdown of my expenses for each day this month as my account number is  409000493201\' ? SELECT Date, SUM(Withdrawal_amount) AS Total_Expenses \nFROM transactions \nWHERE Account_No = "409000493201\'"\nAND YEAR(Value_date) = YEAR(CURRENT_DATE())\nAND MONTH(Value_date) = MONTH(CURRENT_DATE())\nGROUP BY Date;\n \nDate                        Total_Expenses\n2024-06-02                   183648\n2024-06-03                   80666\n2024-06-04                   135504\n2024-06-05                   92031\n2024-06-06                   118475\n2024-06-07                   16440\n2024-06-09                   62112\n2024-06-10                   10331\n The total_expenses is 183648,80666,135504,92031,118475,16440,62112,10331 for the year 2024 month of 6 and date 02,03,04,05,06,07,09 and 10.  ']

In [8]:

# Convert metadata to JSON strings, replacing None with an empty string
metadatas = [
    {k: json.dumps(v) if isinstance(v, (list, dict)) else (v if v is not None else "") for k, v in example.items()}
    for example in few_shots
]

vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=metadatas)

In [9]:
metadatas

[{'Question': "What is my income in my last 3 months.My Account Number is 409000493201'. ?",
  'SQLQuery': 'SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Account_No = "409000493201\'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH);\n        ',
  'SQLResult': '16725509',
  'Answer': '16725509 is the income of last 3 months.'},
 {'Question': "What is the total expenses of last 8 months for account number 409000611074' ?",
  'SQLQuery': 'SELECT SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE \nAccount_No = "409000611074\'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 8 MONTH);\n        ',
  'SQLResult': '75124046',
  'Answer': '75124046 is the total expenses of last 8 months.'},
 {'Question': "How much did I save last month as my account number is 409000493201'  ?",
  'SQLQuery': 'SELECT (SUM(Deposit_amount) - SUM(Withdrawal_amount)) AS Savings_Last_Month FROM \ntransactions WHERE Account_No = "409000493201\'" AND YEAR(Value_date) = YEAR(CURRENT_DATE() \n- INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH);\n        ',
  'SQLResult': '-193509',
  'Answer': 'You saved -193509 last month.'},
 {'Question': "How many transactions did I make in last 2 week as my account number is 409000493201' ",
  'SQLQuery': 'SELECT COUNT(*) AS Total_Transactions FROM transactions WHERE \nAccount_No = "409000493201\'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 WEEK);\n        ',
  'SQLResult': '24',
  'Answer': 'You made 24 transactions in last 2 week.'},
 {'Question': "What was my total spending last week as my account number is 409000493201' ",
  'SQLQuery': 'SELECT SUM(Withdrawal_amount) AS Total_Spending FROM transactions WHERE Account_No = "409000493201\'" AND \nValue_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK);\n        ',
  'SQLResult': '515559',
  'Answer': '515559 is your total spending last week.'},
 {'Question': "Give me a breakdown of my expenses for each day this month as my account number is  409000493201' ?",
  'SQLQuery': 'SELECT Date, SUM(Withdrawal_amount) AS Total_Expenses \nFROM transactions \nWHERE Account_No = "409000493201\'"\nAND YEAR(Value_date) = YEAR(CURRENT_DATE())\nAND MONTH(Value_date) = MONTH(CURRENT_DATE())\nGROUP BY Date;\n',
  'SQLResult': '\nDate                        Total_Expenses\n2024-06-02                   183648\n2024-06-03                   80666\n2024-06-04                   135504\n2024-06-05                   92031\n2024-06-06                   118475\n2024-06-07                   16440\n2024-06-09                   62112\n2024-06-10                   10331\n',
  'Answer': 'The total_expenses is 183648,80666,135504,92031,118475,16440,62112,10331 for the year 2024 month of 6 and date 02,03,04,05,06,07,09 and 10.  '}]

In [10]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=1,
)
example_selector.select_examples({"Question": "Do dogs bark?"})

[{'Answer': '16725509 is the income of last 3 months.',
  'Question': "What is my income in my last 3 months.My Account Number is 409000493201'. ?",
  'SQLQuery': 'SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Account_No = "409000493201\'" AND Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH);\n        ',
  'SQLResult': '16725509'}]

In [11]:
# Define the custom prompt for SQL database interactions
custom_mysql_prompt = """You are an expert in converting natural language into MySQL queries.
Table information:
1. `transactions` with columns: `Account_No`, `Date`, `Transaction_details`, `Value_date`, `Withdrawal_amount`, `Deposit_amount`, `Balance_amount`
Follow these instructions carefully to ensure accuracy:
1. Strictly Pay attention to use only the column names you see in the above Table information and dont try to use table and column names that are not mentioned above .
2. Before proceeding, check if the columns mentioned in the user's natural language query are found in the database. If not found, respond with "Sorry, I don't have access to the information." and terminate the process of generating the SQL Query.
3. Use the CURDATE() function to get the current date when the question involves "today," "last month," "last year," or "last week."
4. Ensure that your queries are syntactically correct and optimized for performance.
5. Provide clear, accurate, and concise SQL queries without making assumptions beyond the given data.

Use queries for at most {top_k} results.
Remember to only use the provided table columns and structure your queries to handle the specified requests accurately."""

In [12]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX

In [13]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [14]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [15]:
suffix_eg="Question: {input}"

In [16]:
print(suffix_eg)

Question: {input}

In [17]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=custom_mysql_prompt,
    suffix=suffix_eg,
    input_variables=["input", "top_k"], #These variables are used in the prefix and suffix
)

In [18]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [19]:
print(few_shot_prompt)

input_variables=['input', 'top_k'] example_selector=SemanticSimilarityExampleSelector(vectorstore=<langchain_community.vectorstores.chroma.Chroma object at 0x000001EFD01C98D0>, k=1, example_keys=None, input_keys=None, vectorstore_kwargs=None) example_prompt=PromptTemplate(input_variables=['Answer', 'Question', 'SQLQuery', 'SQLResult'], template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}') suffix='Question: {input}' prefix='You are an expert in converting natural language into MySQL queries.\nTable information:\n1. `transactions` with columns: `Account_No`, `Date`, `Transaction_details`, `Value_date`, `Withdrawal_amount`, `Deposit_amount`, `Balance_amount`\nFollow these instructions carefully to ensure accuracy:\n1. Strictly Pay attention to use only the column names you see in the above Table information and dont try to use table and column names that are not mentioned above .\n2. Before proceeding, check if the columns mentioned in the user\'s natural language query are found in the database. If not found, respond with "Sorry, I don\'t have access to the information." and terminate the process of generating the SQL Query.\n3. Use the CURDATE() function to get the current date when the question involves "today," "last month," "last year," or "last week."\n4. Ensure that your queries are syntactically correct and optimized for performance.\n5. Provide clear, accurate, and concise SQL queries without making assumptions beyond the given data.\n\nUse queries for at most {top_k} results.\nRemember to only use the provided table columns and structure your queries to handle the specified requests accurately.'

In [20]:
# result = new_chain("What was my total earning last week as my account number is 409000493201'")

In [21]:
# example questions related to the database schema
example_questions = [
    "What is my income/earning in the last 3 months?",
    "What are my total expenses for the past year?",
    "How many transactions did I make last week?",
    "Give me a breakdown of my expenses for each day this month"
]
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')

c:\Users\Prabal Kuinkel\Desktop\ARL-Intern\privategpt\privategpt\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [22]:
example_embeddings = model.encode(example_questions)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity  
# Function to determine if a user question is relevant to the database context
def is_question_relevant(user_question, similarity_threshold=0.7):
    # Compute semantic embedding for the user's question
    user_embedding = model.encode([user_question])[0]  
    
    # calculating the cosine similarity between user question and example questions
    similarity_scores = cosine_similarity(user_embedding.reshape(1, -1), example_embeddings)[0]
    
    # Check if maximum similarity score exceeds the threshold
    max_similarity_score = max(similarity_scores)
    return max_similarity_score > similarity_threshold

In [28]:
# Function to handle user queries
def handle_user_query(user_question):
    if is_question_relevant(user_question):
        return db_chain(user_question)
    else:
        # user asked question is out of context
        return "bad question."

In [29]:
user_question = "How much did i spent each day last month ?"
response = handle_user_query(user_question)
print(response)

c:\Users\Prabal Kuinkel\Desktop\ARL-Intern\privategpt\privategpt\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How much did i spent each day last month ?
SQLQuery:

In [26]:
# query = result['query']
# sql_result = result['result']

# def generate_final_answer(query, sql_result):
#     prompt = f"The result of the query '{query}' is '{sql_result}'. Please provide a complete answer based on this result."
#     return llm.generate([prompt])

In [27]:
# final_answer = generate_final_answer(query, sql_result)
# print(final_answer)