# Libraries thats needs to install

In [1]:
# to work with datasets on hugging face
!pip install datasets huggingface_hub
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: datasets in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (2.20.0)
Requirement already satisfied: huggingface_hub in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (0.23.1)
Requirement already satisfied: filelock in c:\programdata\anaconda3\lib\site-packages (from datasets) (3.13.1)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from datasets) (1.24.3)
Requirement already satisfied: pyarrow>=15.0.0 in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (17.0.0)
Requirement already satisfied: pyarrow-hotfix in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (0.6)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from datasets) (2.1.4)
Requirement already satisfied: requests>=2.32.2 in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (4.66.4)
Requirement already satisfied: xxhash in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (3.4.1)
Requirement already satisfied: multiprocess in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2024.5.0,>=2023.1.0 in c:\programdata\anaconda3\lib\site-packages (from fsspec[http]<=2024.5.0,>=2023.1.0->datasets) (2023.10.0)
Requirement already satisfied: aiohttp in c:\programdata\anaconda3\lib\site-packages (from datasets) (3.9.3)
Requirement already satisfied: packaging in c:\users\prabal kuinkel\appdata\roaming\python\python311\site-packages (from datasets) (23.2)
Requirement already satisfied: pyyaml>=5.1 in c:\programdata\anaconda3\lib\site-packages (from datasets) (6.0.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\programdata\anaconda3\lib\site-packages (from huggingface_hub) (4.9.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\programdata\anaconda3\lib\site-packages (from aiohttp->datasets) (1.9.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (2024.2.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.66.3->datasets) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->datasets) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->datasets) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)

# Creating SQL queries for their corresponding Natutal language Questions

In [2]:
from datasets import Dataset, DatasetDict
from huggingface_hub import HfApi, HfFolder
import pyarrow as pa
import pyarrow.parquet as pq

In [18]:
# Data sets with possible questions from user and corresponding SQL query

few_shots=[
    {
        'Question':" Income of last 3 months. ?",
        'SQLQuery':"""SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH) """
    }
    ,

    {
        'Question':"Total expenses/spendings of last 8 months ?",
        'SQLQuery':"""SELECT SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 8 MONTH) """
    }
    ,
      {
        'Question':"Total saving of last month as my account number is 409000493201'  ?",
        'SQLQuery':"""SELECT (SUM(Deposit_amount) - SUM(Withdrawal_amount)) AS Savings_Last_Month FROM
transactions WHERE Account_No = "409000493201'" AND YEAR(Value_date) = YEAR(CURRENT_DATE()
- INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH);
        """
    }
,
    {
        'Question':"How many transactions did I make in last 2 week  ",
        'SQLQuery':"""SELECT COUNT(*) AS Total_Transactions FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 WEEK) """
    },
     {
        'Question':"Amount spent last week ",
        'SQLQuery':"""SELECT SUM(Withdrawal_amount) AS Total_Spending FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK) """
    }
    , {
        'Question': "Expenses for each day this month ?",
        'SQLQuery': """SELECT Date, SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND MONTH(Value_date) = MONTH(CURRENT_DATE()) GROUP BY Date """
    },
    {
        'Question':"savings of previous year for each month ",
        'SQLQuery':"""SELECT MONTH(Value_date) AS Month, (SUM(Deposit_amount) - SUM(Withdrawal_amount)) AS Total_Savings FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE() - INTERVAL 1 YEAR) GROUP BY MONTH(Value_date) ORDER BY MONTH(Value_date) """
    },
     {
        'Question':"Amount Saved each year",
        'SQLQuery':"""SELECT YEAR(Value_date) AS Year,SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Savings FROM transactions GROUP BY YEAR(Value_date) """
    }
    ,
     {
        'Question':"Savings of last 2 year  ",
        'SQLQuery':"""SELECT YEAR(Value_date) AS Year, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Net_Savings FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 YEAR) GROUP BY YEAR(Value_date) """
    }
    ,
     {
        'Question':"Expenses of each day of last week  ",
        'SQLQuery':"""SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Total_Spending FROM transactions WHERE Value_date >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK) GROUP BY DATE(Value_date) """
    },
    {
        'Question':"Amount spent this year ?",
        'SQLQuery':"""SELECT year(Value_date) as Year,sum(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE year(Value_date) = year(curdate()) group by year(Value_date) """
    },
    {
        'Question':"amount/money saved each month previous year ?",
        'SQLQuery':"""SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Savings FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE - INTERVAL 1 YEAR) GROUP BY YEAR(Value_date), MONTH(Value_date) """
    }
     ,
      {
        'Question':"income of the previous year ",
        'SQLQuery':"""SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE) - 1 """
    }
    ,
      {
        'Question':"income of the first 4 month of previous year ",
        'SQLQuery':"""SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE MONTH(Value_date) IN (1,2,3,4) AND YEAR(Value_date) = YEAR(CURRENT_DATE) - 1 """
    },
    {
    'Question': "amount I lost each year?",
    'SQLQuery': """
                SELECT YEAR(Value_date) AS Year,SUM(Withdrawal_amount) - SUM(Deposit_amount) AS Losses
                FROM transactions
                GROUP BY YEAR(Value_date);
                """
}
  ,
    {
        'Question': "What is the average of last 5 transactions?",
        'SQLQuery': """SELECT AVG(CASE WHEN Withdrawal_amount IS NOT NULL THEN Withdrawal_amount ELSE Deposit_amount END) AS Average_Amount FROM (SELECT Withdrawal_amount, Deposit_amount FROM transactions ORDER BY Date DESC LIMIT 5) AS Last5Transactions"""
    },
    {
        'Question': "What is my total income this year?",
        'SQLQuery': """SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
    },
    {
        'Question': "What is my income of the first 3 months of this year?",
        'SQLQuery': """SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND MONTH(Value_date) IN (1, 2, 3)"""
    },
    {
        'Question': "What is my expenses of the first 4 months of this year?",
        'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND MONTH(Value_date) IN (1, 2, 3, 4)"""
    },
    {
        'Question': "What is my income of the last 5 months of this year?",
        'SQLQuery': """SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 5 MONTH)"""
    },
    {
        'Question': "How much amount did I earn each year?",
        'SQLQuery': """SELECT YEAR(Value_date) AS Year, SUM(Deposit_amount) AS Total_Income FROM transactions GROUP BY YEAR(Value_date)"""
    }
,
    {
        'Question': "How much amount did I save each year?",
        'SQLQuery': """SELECT YEAR(Value_date) AS Year, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Savings FROM transactions GROUP BY YEAR(Value_date)"""
    },
    {
        'Question': "How much amount did I spend each year?",
        'SQLQuery': """SELECT YEAR(Value_date) AS Year, SUM(Withdrawal_amount) AS Total_Spending FROM transactions GROUP BY YEAR(Value_date)"""
    },
    {
        'Question': "Give me the breakdown of expenses of each day of this week?",
        'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK) GROUP BY DATE(Value_date)"""
    },
    {
        'Question': "Give me the breakdown of savings of each day of this month?",
        'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Daily_Savings FROM transactions WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY DATE(Value_date)"""
    },
    {
        'Question': "Give me the breakdown of amount I spent each day of this month?",
        'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Daily_Spending FROM transactions WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY DATE(Value_date)"""
    },
    {
        'Question': "Give me the breakdown of amount I spent each day of this week?",
        'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Daily_Spending FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK) GROUP BY DATE(Value_date)"""
    },
    {
        'Question': "On average how much amount I spent each day?",
        'SQLQuery': """SELECT AVG(Withdrawal_amount) AS Average_Daily_Spending FROM transactions"""
    },
    {
        'Question': "On average how much amount I spent each month?",
        'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, AVG(SUM(Withdrawal_amount)) OVER (PARTITION BY YEAR(Value_date), MONTH(Value_date)) AS Average_Monthly_Spending FROM transactions GROUP BY YEAR(Value_date), MONTH(Value_date)"""
    },
    {
        'Question': "On average how much amount I spent each year?",
        'SQLQuery': """SELECT YEAR(Value_date) AS Year, AVG(SUM(Withdrawal_amount)) OVER (PARTITION BY YEAR(Value_date)) AS Average_Yearly_Spending FROM transactions GROUP BY YEAR(Value_date)"""
    },
    {
        'Question': "How many transactions did I make this year?",
        'SQLQuery': """SELECT COUNT(*) AS Total_Transactions FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
    },
    {
        'Question': "How many transactions did I make each year?",
        'SQLQuery': """SELECT YEAR(Value_date) AS Year, COUNT(*) AS Total_Transactions FROM transactions GROUP BY YEAR(Value_date)"""
    },
    {
        'Question': "How many transactions did I make this week?",
        'SQLQuery': """SELECT COUNT(*) AS Total_Transactions FROM transactions WHERE WEEK(Value_date) = WEEK(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())"""
    },
    {
        'Question': "How many transactions did I make this month?",
        'SQLQuery': """SELECT COUNT(*) AS Total_Transactions FROM transactions WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())"""
    },

    {
        'Question': "What is my total savings of last month?",
        'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE - INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE - INTERVAL 1 MONTH)"""
    },
    {
        'Question': "What is my total savings of each year?",
        'SQLQuery': """SELECT YEAR(Value_date) AS Year, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings FROM transactions GROUP BY YEAR(Value_date)"""
    },
    {
        'Question': "What is my savings this week?",
        'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings FROM transactions WHERE WEEK(Value_date) = WEEK(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())"""
    },
    {
        'Question': "What is my expenses amount of last month? ",
        'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE - INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE - INTERVAL 1 MONTH)"""
    },
    {
        'Question': "What is my expenses amount of this month?",
        'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND MONTH(Value_date) = MONTH(CURRENT_DATE())"""
    }
,{
    'Question': "What is my current net worth?",
    'SQLQuery': """SELECT Balance_amount AS Current_Net_Worth
                   FROM transactions
                   ORDER BY Value_date DESC
                   LIMIT 1"""
}
,{
    'Question': "What is my income of the last 2 years?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURDATE(), INTERVAL 2 YEAR)
                   GROUP BY YEAR(Value_date)"""
},
{
    'Question': "What is my expenses of the last 1 year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
                   GROUP BY YEAR(Value_date)"""
},
{
    'Question': "What is my savings of the last 3 years?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Net_Savings
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURDATE(), INTERVAL 3 YEAR)
                   GROUP BY YEAR(Value_date)"""
},
    {
    'Question': "Give me the income of the first 7 months of this year",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) <= 7
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "Tell me the expenses of the first 9 months of this year",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) <= 9
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "Tell me the income of the last 8 months of this year",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) >= (MONTH(CURRENT_DATE()) - 7)
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my average spendings each month in this year",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, AVG(Withdrawal_amount) AS Average_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "Give me the average spendings of mine each month in previous year",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, AVG(Withdrawal_amount) AS Average_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "Give me the average spendings of mine each month in year 2022",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, AVG(Withdrawal_amount) AS Average_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = 2022
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my average spendings each week in this month",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, AVG(Withdrawal_amount) AS Average_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) = MONTH(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What is my average spendings each week previous month",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, AVG(Withdrawal_amount) AS Average_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) = MONTH(CURRENT_DATE()) - 1
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What is my average earning each month in this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, AVG(Deposit_amount) AS Average_Earning
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "Tell me the earnings each month in the previous year",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my earnings each month in the year 2018?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = 2018
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my average earning each week in this month?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, AVG(Deposit_amount) AS Average_Earning
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) = MONTH(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What were my earnings each week in the previous month?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) = MONTH(CURRENT_DATE()) - 1
                   GROUP BY WEEK(Value_date)"""
},
    {
    'Question': "What was my net worth previous year?",
    'SQLQuery': """SELECT (SUM(Deposit_amount) - SUM(Withdrawal_amount)) AS Net_Worth
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1"""
},
{
    'Question': "What is my net worth this year?",
    'SQLQuery': """SELECT (SUM(Deposit_amount) - SUM(Withdrawal_amount)) AS Net_Worth
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What was my bank balance in year 2021?",
    'SQLQuery': """SELECT Balance_amount
                   FROM transactions
                   WHERE YEAR(Value_date) = 2021
                   ORDER BY Value_date DESC
                   LIMIT 1"""
},
{
    'Question': "How much money did I spend this year?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How much money did I spend till now?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions"""
},
{
    'Question': "How much money did I spend this week?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEARWEEK(Value_date, 1) = YEARWEEK(CURRENT_DATE(), 1)"""
},
{
    'Question': "How much money did I spend previous week?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEARWEEK(Value_date, 1) = YEARWEEK(CURRENT_DATE(), 1) - 1"""
},
{
    'Question': "How much money did I spend this month?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) = MONTH(CURRENT_DATE())"""
},
{
    'Question': "How much money did I spend last month?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND MONTH(Value_date) = MONTH(CURRENT_DATE()) - 1"""
},
    {
    'Question': "What is my highest spending month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)
                   ORDER BY Total_Spending DESC
                   LIMIT 1"""
},
{
    'Question': "What is my highest earning month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)
                   ORDER BY Total_Earnings DESC
                   LIMIT 1"""
},
{
    'Question': "What is my lowest spending month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)
                   ORDER BY Total_Spending ASC
                   LIMIT 1"""
},
{
    'Question': "What is my lowest earning month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)
                   ORDER BY Total_Earnings ASC
                   LIMIT 1"""
},
{
    'Question': "What is my average monthly income this year ? ",
    'SQLQuery': """SELECT AVG(Total_Earnings) AS Average_Income
                   FROM (
                       SELECT SUM(Deposit_amount) AS Total_Earnings
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                       GROUP BY MONTH(Value_date)
                   ) AS MonthlyEarnings"""
},
{
    'Question': "What is my average monthly spending this year?",
    'SQLQuery': """SELECT AVG(Total_Spending) AS Average_Spending
                   FROM (
                       SELECT SUM(Withdrawal_amount) AS Total_Spending
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                       GROUP BY MONTH(Value_date)
                   ) AS MonthlySpending"""
},
{
    'Question': "What is my largest transaction this year?",
    'SQLQuery': """SELECT Value_date,MAX(Withdrawal_amount) AS Highest_Transaction_Amount
                    FROM transactions
                    WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                    group by Value_date order by Highest_Transaction_Amount desc limit 1;"""
},
{
    'Question': "What is my smallest transaction this year?",
    'SQLQuery': """SELECT Value_date,Min(Withdrawal_amount) AS Highest_Transaction_Amount
                  FROM transactions
                  WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                  group by Value_date order by Highest_Transaction_Amount desc limit 1;"""
},
{
    'Question': "How many deposits did I make this year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Deposits
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND Deposit_amount IS NOT NULL"""
},
{
    'Question': "How many withdrawals did I make this year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Withdrawals
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND Withdrawal_amount IS NOT NULL"""
},
{
    'Question': "What is my total balance at the end of each year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, Balance_amount
                   FROM transactions
                   WHERE Value_date IN (
                       SELECT MAX(Value_date)
                       FROM transactions
                       GROUP BY YEAR(Value_date)
                   )
                   GROUP BY YEAR(Value_date)"""
},
{
    'Question': "What is my highest balance this year?",
    'SQLQuery': """SELECT MAX(Balance_amount) AS Highest_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is my lowest balance this year?",
    'SQLQuery': """SELECT MIN(Balance_amount) AS Lowest_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How many transactions were above $1000 this year?",
    'SQLQuery': """SELECT COUNT(*) AS High_Value_Transactions
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND (Withdrawal_amount > 1000 OR Deposit_amount > 1000)"""
},
{
    'Question': "How many transactions were below $100 this year?",
    'SQLQuery': """SELECT COUNT(*) AS Low_Value_Transactions
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND (Withdrawal_amount < 100 OR Deposit_amount < 100)"""
},
{
    'Question': "What is the average balance in my account this year?",
    'SQLQuery': """SELECT AVG(Balance_amount) AS Average_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How many days did I have a balance below $500 this year?",
    'SQLQuery': """SELECT COUNT(DISTINCT Value_date) AS Days_Below_500
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND Balance_amount < 500"""
},
{
    'Question': "How many days did I have a balance above $5000 this year?",
    'SQLQuery': """SELECT COUNT(DISTINCT Value_date) AS Days_Above_5000
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   AND Balance_amount > 5000"""
},
{
    'Question': "How much did I spend on the highest spending day this year?",
    'SQLQuery': """SELECT MAX(Total_Spending) AS Highest_Spending_Day
                   FROM (
                       SELECT SUM(Withdrawal_amount) AS Total_Spending
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                       GROUP BY DATE(Value_date)
                   ) AS DailySpending"""
},
{
    'Question': "How much did I earn on the highest earning day this year?",
    'SQLQuery': """SELECT MAX(Total_Earnings) AS Highest_Earning_Day
                   FROM (
                       SELECT SUM(Deposit_amount) AS Total_Earnings
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                       GROUP BY DATE(Value_date)
                   ) AS DailyEarnings"""
},
    {
    'Question': "What is my total income from last year?",
    'SQLQuery': """SELECT SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1"""
},
{
    'Question': "What is my total spending from last year?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1"""
},
{
    'Question': "What is the average daily spending in the last month?",
    'SQLQuery': """SELECT AVG(Daily_Spending) AS Average_Daily_Spending
                   FROM (
                       SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Daily_Spending
                       FROM transactions
                       WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
                       GROUP BY DATE(Value_date)
                   ) AS DailySpending"""
},
{
    'Question': "What is the average daily income in the last month?",
    'SQLQuery': """SELECT AVG(Daily_Income) AS Average_Daily_Income
                   FROM (
                       SELECT DATE(Value_date) AS Date, SUM(Deposit_amount) AS Daily_Income
                       FROM transactions
                       WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
                       GROUP BY DATE(Value_date)
                   ) AS DailyIncome"""
},
{
    'Question': "What is my largest withdrawal amount this year?",
    'SQLQuery': """SELECT MAX(Withdrawal_amount) AS Largest_Withdrawal
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is my largest deposit amount this year?",
    'SQLQuery': """SELECT MAX(Deposit_amount) AS Largest_Deposit
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How much did I save in total last year?",
    'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1"""
},
{
    'Question': "How much did I save in total this year?",
    'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How much did I save each month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Monthly_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is the average monthly savings this year?",
    'SQLQuery': """SELECT AVG(Monthly_Savings) AS Average_Monthly_Savings
                   FROM (
                       SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Monthly_Savings
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                       GROUP BY MONTH(Value_date)
                   ) AS MonthlySavings"""
},
{
    'Question': "What is my net income this year?",
    'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Net_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is my net income last year?",
    'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Net_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1"""
},
{
    'Question': "What is the total number of deposits this year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Deposits
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND Deposit_amount IS NOT NULL"""
},
{
    'Question': "What is the total number of withdrawals this year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Withdrawals
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND Withdrawal_amount IS NOT NULL"""
},
{
    'Question': "What is the highest balance in my account this year?",
    'SQLQuery': """SELECT MAX(Balance_amount) AS Highest_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is the lowest balance in my account this year?",
    'SQLQuery': """SELECT MIN(Balance_amount) AS Lowest_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How much did I earn each quarter this year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "How much did I spend each quarter this year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "How much did I save each quarter this year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "How much did I earn each day this week?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK)
                   GROUP BY DATE(Value_date)"""
}
    ,
    {
    'Question': "What is my average income each month in the current year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, AVG(Deposit_amount) AS Average_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my total number of transactions each month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my average balance each month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, AVG(Balance_amount) AS Average_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my highest deposit each month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, MAX(Deposit_amount) AS Highest_Deposit
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my highest withdrawal each month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, MAX(Withdrawal_amount) AS Highest_Withdrawal
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "How many transactions did I make each quarter this year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "What is my total income each quarter this year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "What is my total spending each quarter this year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "What is my average balance each quarter this year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, AVG(Balance_amount) AS Average_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "How much did I save each quarter in the last year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "What is my total income this quarter?",
    'SQLQuery': """SELECT SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND QUARTER(Value_date) = QUARTER(CURRENT_DATE())"""
},
{
    'Question': "What is my total spending this quarter?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND QUARTER(Value_date) = QUARTER(CURRENT_DATE())"""
},
{
    'Question': "What is my total income last quarter?",
    'SQLQuery': """SELECT SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND QUARTER(Value_date) = QUARTER(CURRENT_DATE()) - 1"""
},
{
    'Question': "What is my total spending last quarter?",
    'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Total_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND QUARTER(Value_date) = QUARTER(CURRENT_DATE()) - 1"""
},
{
    'Question': "How much did I save last quarter?",
    'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND QUARTER(Value_date) = QUARTER(CURRENT_DATE()) - 1"""
},
{
    'Question': "What is my highest balance in the last quarter?",
    'SQLQuery': """SELECT MAX(Balance_amount) AS Highest_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND QUARTER(Value_date) = QUARTER(CURRENT_DATE()) - 1"""
},
{
    'Question': "How much did I earn each day in the last 30 days?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Deposit_amount) AS Daily_Earnings
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "How much did I spend each day in the last 30 days?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Daily_Spending
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "What is my average income each day in the last 30 days?",
    'SQLQuery': """SELECT AVG(Daily_Earnings) AS Average_Daily_Income
                   FROM (
                       SELECT DATE(Value_date) AS Date, SUM(Deposit_amount) AS Daily_Earnings
                       FROM transactions
                       WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
                       GROUP BY DATE(Value_date)
                   ) AS DailyIncome"""
},
{
    'Question': "What is my average spending each day in the last 30 days?",
    'SQLQuery': """SELECT AVG(Daily_Spending) AS Average_Daily_Spending
                   FROM (
                       SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Daily_Spending
                       FROM transactions
                       WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
                       GROUP BY DATE(Value_date)
                   ) AS DailySpending"""
}
    ,
    {
    'Question': "What is my highest balance ever recorded?",
    'SQLQuery': """SELECT MAX(Balance_amount) AS Highest_Balance
                   FROM transactions"""
},
{
    'Question': "What is my lowest balance ever recorded?",
    'SQLQuery': """SELECT MIN(Balance_amount) AS Lowest_Balance
                   FROM transactions"""
},
{
    'Question': "What is the total number of transactions this year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How much did I earn each week this month?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, SUM(Deposit_amount) AS Weekly_Earnings
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "How much did I spend each week this month?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, SUM(Withdrawal_amount) AS Weekly_Spending
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What is the total number of deposits made this year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Deposits
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND Deposit_amount > 0"""
},
{
    'Question': "What is the total number of withdrawals made this year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Withdrawals
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) AND Withdrawal_amount > 0"""
},
{
    'Question': "What is my total balance at the end of each quarter this year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, QUARTER(Value_date) AS Quarter, Balance_amount
                   FROM transactions
                   WHERE Value_date IN (
                       SELECT MAX(Value_date)
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                       GROUP BY YEAR(Value_date), QUARTER(Value_date)
                   )
                   GROUP BY YEAR(Value_date), QUARTER(Value_date)"""
},
{
    'Question': "How much did I save each month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Monthly_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "How much did I earn each quarter in the previous year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Deposit_amount) AS Quarterly_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "How much did I spend each quarter in the previous year?",
    'SQLQuery': """SELECT QUARTER(Value_date) AS Quarter, SUM(Withdrawal_amount) AS Quarterly_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY QUARTER(Value_date)"""
},
{
    'Question': "What is the average amount per transaction this year?",
    'SQLQuery': """SELECT AVG(Withdrawal_amount + Deposit_amount) AS Average_Transaction_Amount
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is the highest deposit made this year?",
    'SQLQuery': """SELECT MAX(Deposit_amount) AS Highest_Deposit
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is the highest withdrawal made this year?",
    'SQLQuery': """SELECT MAX(Withdrawal_amount) AS Highest_Withdrawal
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How much did I save last year?",
    'SQLQuery': """SELECT SUM(Deposit_amount) - SUM(Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1"""
},
{
    'Question': "How much did I earn each day this week?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Deposit_amount) AS Daily_Earnings
                   FROM transactions
                   WHERE YEARWEEK(Value_date, 1) = YEARWEEK(CURRENT_DATE(), 1)
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "How much did I spend each day this week?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Daily_Spending
                   FROM transactions
                   WHERE YEARWEEK(Value_date, 1) = YEARWEEK(CURRENT_DATE(), 1)
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "What is my average daily balance this month?",
    'SQLQuery': """SELECT AVG(Balance_amount) AS Average_Daily_Balance
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "How many transactions did I make each day this month?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "What is the average amount per transaction this month?",
    'SQLQuery': """SELECT AVG(Withdrawal_amount + Deposit_amount) AS Average_Transaction_Amount
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())"""
}
,


{
    'Question': "What is the total number of transactions made last year?",
    'SQLQuery': """SELECT COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1"""
},
{
    'Question': "What is the total number of transactions made each month last year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "How much did I earn each week last month?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, SUM(Deposit_amount) AS Weekly_Earnings
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "How much did I spend each week last month?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, SUM(Withdrawal_amount) AS Weekly_Spending
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What is my highest spending in a single transaction this year?",
    'SQLQuery': """SELECT MAX(Withdrawal_amount) AS Highest_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is my highest earning in a single transaction this year?",
    'SQLQuery': """SELECT MAX(Deposit_amount) AS Highest_Earning
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is my lowest spending in a single transaction this year?",
    'SQLQuery': """SELECT MIN(Withdrawal_amount) AS Lowest_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is my lowest earning in a single transaction this year?",
    'SQLQuery': """SELECT MIN(Deposit_amount) AS Lowest_Earning
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"""
},
{
    'Question': "What is my average balance each month this year?",
    'SQLQuery': """SELECT MONTH(Value_date) AS Month, AVG(Balance_amount) AS Average_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY MONTH(Value_date)"""
},
{
    'Question': "What is my total earnings for each day this month?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Deposit_amount) AS Total_Earnings
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "What is my total spendings for each day last month?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, SUM(Withdrawal_amount) AS Total_Spendings
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "What is my highest balance at the end of each month last year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, MAX(Balance_amount) AS Highest_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What is my lowest balance at the end of each month last year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, MIN(Balance_amount) AS Lowest_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What is the total number of transactions made each week this month?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) AND YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What is my total earnings for each week this year?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, SUM(Deposit_amount) AS Weekly_Earnings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What is my total spendings for each week this year?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, SUM(Withdrawal_amount) AS Weekly_Spendings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "How many transactions did I make each day this week?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE YEARWEEK(Value_date, 1) = YEARWEEK(CURRENT_DATE(), 1)
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "How many transactions did I make each day last week?",
    'SQLQuery': """SELECT DATE(Value_date) AS Date, COUNT(*) AS Total_Transactions
                   FROM transactions
                   WHERE YEARWEEK(Value_date, 1) = YEARWEEK(DATE_SUB(CURRENT_DATE(), INTERVAL 1 WEEK), 1)
                   GROUP BY DATE(Value_date)"""
},
{
    'Question': "What is my average balance each week this year?",
    'SQLQuery': """SELECT WEEK(Value_date) AS Week, AVG(Balance_amount) AS Average_Balance
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY WEEK(Value_date)"""
},
{
    'Question': "What is my total balance at the end of each quarter last year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, QUARTER(Value_date) AS Quarter, Balance_amount
                   FROM transactions
                   WHERE Value_date IN (
                       SELECT MAX(Value_date)
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                       GROUP BY YEAR(Value_date), QUARTER(Value_date)
                   )
                   GROUP BY YEAR(Value_date), QUARTER(Value_date)"""
},
    {
    'Question': "Give me the breakdown of my income of each month this year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my savings of each month this year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my expenses of each month last year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my income of each month last year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my savings of each month last year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my expenses of each month in year 2022?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = 2022
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my income of each month in year 2022?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = 2022
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my savings of each month in year 2022?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = 2022
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my expenses of each month in the last 6 months?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my income of each month in the last 6 months?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
}
    ,
    {
    'Question': "Provide a detailed breakdown of my income by month this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show me a detailed breakdown of my savings for each month this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Display an itemized summary of my expenses by month last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Present a detailed breakdown of my income by month last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Provide an overview of my savings for each month last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show a detailed breakdown of my expenses by month in year 2022.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = 2022
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Display an itemized summary of my income by month in year 2022.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = 2022
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Provide a breakdown of my savings for each month in year 2022.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = 2022
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show an itemized summary of my expenses by month in the last 6 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Present a detailed summary of my income by month in the last 6 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
}
,
    {
    'Question': "Give me the detailed breakdown of my expenditures for each month this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show me an itemized summary of my income by month last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What were my total expenses each month in the previous year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Provide a breakdown of my income by month in the last 12 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show a detailed summary of my savings by month last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Display an itemized overview of my expenses by month in year 2023.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = 2023
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Provide a detailed breakdown of my income by month in year 2023.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = 2023
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show an itemized summary of my savings by month in the last 6 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What were my total expenditures each month in the last 6 months?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the detailed breakdown of my income by month in the previous year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
}
,
    {
    'Question': "Show me the breakdown of my expenditures for each month this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What was my total income by month in the previous year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Provide the expenses for each month in the last 12 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me a detailed breakdown of my savings by month last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show the overview of my expenses by month in the year 2023.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = 2023
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Display my income details by month in the year 2023.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = 2023
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Provide a summary of my savings by month in the last 6 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What were my total expenditures each month in the last 6 months?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the income breakdown by month in the previous year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show me the detailed expenses by month for the current year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
}
,
    {
    'Question': "What is the average monthly income for each year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, AVG(Deposit_amount) AS Average_Income
                   FROM transactions
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the breakdown of my expenditures by quarter in the current year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, QUARTER(Value_date) AS Quarter, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), QUARTER(Value_date)"""
},
{
    'Question': "Show the trend of my savings over the last 12 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What was my total income by month for the previous year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the average monthly expenses for each quarter this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, QUARTER(Value_date) AS Quarter, AVG(Withdrawal_amount) AS Average_Expenses
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), QUARTER(Value_date)"""
},
{
    'Question': "What are my total savings by month in the current year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show me the breakdown of my monthly income in the previous year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What were my total expenditures by month in the previous year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the average monthly savings for each quarter last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, QUARTER(Value_date) AS Quarter, AVG(Deposit_amount - Withdrawal_amount) AS Average_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), QUARTER(Value_date)"""
},
{
    'Question': "Show the trend of my expenses over the last 6 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
}

,
    {
    'Question': "What is my total income for each month in the current year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show me the trend of my balance over the last 6 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, Balance_amount
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What is my average monthly spending for each quarter in this year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, QUARTER(Value_date) AS Quarter, AVG(Withdrawal_amount) AS Average_Spending
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), QUARTER(Value_date)"""
},
{
    'Question': "Give me the breakdown of my savings by month for the current year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount - Withdrawal_amount) AS Total_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show me the breakdown of my monthly income in the previous year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What were my total expenditures by month in the previous year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the average monthly savings for each quarter last year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, QUARTER(Value_date) AS Quarter, AVG(Deposit_amount - Withdrawal_amount) AS Average_Savings
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), QUARTER(Value_date)"""
},
{
    'Question': "Show the trend of my expenses over the last 6 months.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH)
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What is my total income by month for the previous year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Income
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
}
,
    {
    'Question': "What are my monthly expenditures so far this year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "How much have I spent monthly this year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Tell me my monthly spending breakdown for this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What are my expenses for each month in this calendar year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me a monthly breakdown of my spending this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Show my monthly expenses throughout this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What are my expenditures for each month in the current year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Give me the detailed breakdown of my spending by month in this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "What is the monthly summary of my expenses this year?",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
{
    'Question': "Provide the breakdown of my monthly spending so far this year.",
    'SQLQuery': """SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenditures
                   FROM transactions
                   WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                   GROUP BY YEAR(Value_date), MONTH(Value_date)"""
},
    {
        "Question": "List my top 5 largest deposits of all time.",
        "SQLQuery": "SELECT Transaction_details, Deposit_amount FROM transactions WHERE Deposit_amount > 0 ORDER BY Deposit_amount DESC LIMIT 5"
    },
    {
        "Question": "Show me the highest withdrawal amounts this year.",
        "SQLQuery": "SELECT YEAR(Value_date) AS Year, MAX(Withdrawal_amount) AS Highest_Withdrawal FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())"
    },
    {
        "Question": "What are my top 10 largest transactions by amount?",
        "SQLQuery": "SELECT Transaction_details, (Deposit_amount - Withdrawal_amount) AS Transaction_amount FROM transactions ORDER BY Transaction_amount DESC LIMIT 10"
    },
    {
        "Question": "List my transactions ordered by date.",
        "SQLQuery": "SELECT Transaction_details, Value_date FROM transactions ORDER BY Value_date"
    },
    {
        "Question": "Show me the total deposits grouped by month this year.",
        "SQLQuery": "SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Deposit_amount) AS Total_Deposits FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY YEAR(Value_date), MONTH(Value_date)"
    },
    {
        "Question": "Show me the largest withdrawals by day this week.",
        "SQLQuery": "SELECT DATE(Value_date) AS Date, MAX(Withdrawal_amount) AS Largest_Withdrawal FROM transactions WHERE WEEK(Value_date) = WEEK(CURRENT_DATE()) GROUP BY DATE(Value_date)"
    },
    {
        "Question": "What are my top 5 largest deposits ordered by date?",
        "SQLQuery": "SELECT Transaction_details, Deposit_amount, Value_date FROM transactions WHERE Deposit_amount > 0 ORDER BY Value_date DESC LIMIT 5"
    }
,

    {
        "Question": "What are my top 5 largest withdrawals this year?",
        "SQLQuery": "SELECT Transaction_details, Withdrawal_amount FROM transactions WHERE Withdrawal_amount > 0 AND YEAR(Value_date) = YEAR(CURRENT_DATE()) ORDER BY Withdrawal_amount DESC LIMIT 5"
    },
    {
        "Question": "Show me the average deposit amount per month this year.",
        "SQLQuery": "SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, AVG(Deposit_amount) AS Average_Deposit FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY YEAR(Value_date), MONTH(Value_date)"
    },
    {
        "Question": "What are my top 10 largest deposits by amount?",
        "SQLQuery": "SELECT Transaction_details, Deposit_amount FROM transactions WHERE Deposit_amount > 0 ORDER BY Deposit_amount DESC LIMIT 10"
    },

    {
        "Question": "Show me the largest withdrawals by month this year.",
        "SQLQuery": "SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, MAX(Withdrawal_amount) AS Largest_Withdrawal FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY YEAR(Value_date), MONTH(Value_date)"
    },
    {
        "Question": "What are my top 5 largest transactions by amount ordered by date?",
        "SQLQuery": "SELECT Transaction_details, (Deposit_amount - Withdrawal_amount) AS Transaction_amount, Value_date FROM transactions ORDER BY Transaction_amount DESC, Value_date LIMIT 5"
    },
    {
        "Question": "Provide a breakdown of my expenses ordered by transaction details this year.",
        "SQLQuery": "SELECT Transaction_details, SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE Withdrawal_amount > 0 AND YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY Transaction_details ORDER BY Total_Expenses DESC"
    },
    {
        "Question": "List my transactions grouped by account number and ordered by the highest withdrawal amount.",
        "SQLQuery": "SELECT Account_No, Transaction_details, MAX(Withdrawal_amount) AS Highest_Withdrawal FROM transactions GROUP BY Account_No, Transaction_details ORDER BY Highest_Withdrawal DESC"
    },
    {
        "Question": "Show me the transactions with the lowest balance amount by month.",
        "SQLQuery": "SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, Transaction_details, MIN(Balance_amount) AS Lowest_Balance FROM transactions GROUP BY YEAR(Value_date), MONTH(Value_date), Transaction_details ORDER BY Lowest_Balance"
    }
    ,
    {
    "Question": "What is my average spendings of last 11 transactions?",
    "SQLQuery": "SELECT AVG(Withdrawal_amount) AS Average_Spending FROM (SELECT Withdrawal_amount FROM transactions WHERE Withdrawal_amount IS NOT NULL ORDER BY Value_date DESC LIMIT 11) AS Last11Transactions"
},
{
    "Question": "What is my average spendings of last 7 transactions?",
    "SQLQuery": "SELECT AVG(Withdrawal_amount) AS Average_Spending FROM (SELECT Withdrawal_amount FROM transactions WHERE Withdrawal_amount IS NOT NULL ORDER BY Value_date DESC LIMIT 7) AS Last7Transactions"
},
{
    "Question": "What is my spendings of last 9 transactions?",
    "SQLQuery": "SELECT SUM(Withdrawal_amount) AS Total_Spending FROM (SELECT Withdrawal_amount FROM transactions WHERE Withdrawal_amount IS NOT NULL ORDER BY Value_date DESC LIMIT 9) AS Last9Transactions"
},
{
    "Question": "What is my spendings of last 4 transactions?",
    "SQLQuery": "SELECT SUM(Withdrawal_amount) AS Total_Spending FROM (SELECT Withdrawal_amount FROM transactions WHERE Withdrawal_amount IS NOT NULL ORDER BY Value_date DESC LIMIT 4) AS Last4Transactions"
},
    {
    "Question": "What is my net worth this year for account number xa1 ?",
    "SQLQuery": "SELECT Balance_amount AS Net_Worth FROM transactions WHERE Account_No = 'xa1' AND YEAR(Value_date) = YEAR(CURRENT_DATE) ORDER BY Value_date DESC LIMIT 1"
},
    {
    "Question": "In which date did i make my highest transaction of this month and what was the amount?",
    "SQLQuery": "SELECT Value_date, MAX(Withdrawal_amount) AS Highest_Transaction_Amount FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH) GROUP BY Value_date ORDER BY Highest_Transaction_Amount DESC LIMIT 1"
},
    {
        "Question": "In which date did i make my highest transaction of this week and what was the amount?",
        "SQLQuery": "SELECT Value_date, MAX(Withdrawal_amount) AS Highest_Transaction_Amount FROM transactions WHERE Value_date >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK) GROUP BY Value_date ORDER BY Highest_Transaction_Amount DESC LIMIT 1"
    },
    {
        "Question": "What is my highest transaction amount of this year and what was the date?",
        "SQLQuery": "SELECT Value_date, MAX(Withdrawal_amount) AS Highest_Transaction_Amount FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY Value_date ORDER BY Highest_Transaction_Amount DESC LIMIT 1"
    },
    {
        "Question": "What is my highest transaction amount of previous year and what was the date ? ",
        "SQLQuery": "SELECT Value_date, MAX(Withdrawal_amount) AS Highest_Transaction_Amount FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1 GROUP BY Value_date ORDER BY Highest_Transaction_Amount DESC LIMIT 1"
    }
,
    {
        "Question": "What is the lowest transaction amount of this month and on which date?",
        "SQLQuery": "SELECT Value_date, MIN(Withdrawal_amount) AS Lowest_Transaction_Amount FROM transactions WHERE MONTH(Value_date) = MONTH(CURRENT_DATE()) GROUP BY Value_date ORDER BY Lowest_Transaction_Amount LIMIT 1"
    },
    {
        "Question": "In which date did I make my lowest transaction of this year and what was the amount?",
        "SQLQuery": "SELECT Value_date, MIN(Withdrawal_amount) AS Lowest_Transaction_Amount FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) GROUP BY Value_date ORDER BY Lowest_Transaction_Amount LIMIT 1"
    },
    {
        "Question": "What is my highest deposit amount of last month and what was the date?",
        "SQLQuery": "SELECT Value_date, MAX(Deposit_amount) AS Highest_Deposit_Amount FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE() - INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH) GROUP BY Value_date ORDER BY Highest_Deposit_Amount DESC LIMIT 1"
    },
    {
        "Question": "What is the lowest deposit amount of last year and what was the date?",
        "SQLQuery": "SELECT Value_date, MIN(Deposit_amount) AS Lowest_Deposit_Amount FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1 GROUP BY Value_date ORDER BY Lowest_Deposit_Amount LIMIT 1"
    },

    {
        "Question": "What is the highest balance amount recorded this month and on which date?",
        "SQLQuery": "SELECT Value_date, MAX(Balance_amount) AS Highest_Balance FROM transactions WHERE  year(Value_date) = year(CURRENT_DATE()) And MONTH(Value_date) = MONTH(CURRENT_DATE()) GROUP BY Value_date ORDER BY Highest_Balance DESC LIMIT 1"

    },
    {
        "Question": "What is the lowest balance amount recorded last year and on which date?",
        "SQLQuery": "SELECT Value_date, MIN(Balance_amount) AS Lowest_Balance FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) - 1 GROUP BY Value_date ORDER BY Lowest_Balance LIMIT 1"
    },
    {
        "Question": "List the top 5 highest withdrawal transactions of this year, including their dates and amounts.",
        "SQLQuery": "SELECT Value_date, Transaction_details, Withdrawal_amount FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE()) ORDER BY Withdrawal_amount DESC LIMIT 5"
    },
    {
        "Question": "List the top 10 highest deposit transactions of last month, including their dates and amounts.",
        "SQLQuery": "SELECT Value_date, Transaction_details, Deposit_amount FROM transactions WHERE YEAR(Value_date) = YEAR(CURRENT_DATE() - INTERVAL 1 MONTH) AND MONTH(Value_date) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH) ORDER BY Deposit_amount DESC LIMIT 10"
    }
    ,{
    "Question": "How much amount did I spend each month last year?",
    "SQLQuery": "SELECT YEAR(Value_date) AS Year, MONTH(Value_date) AS Month, SUM(Withdrawal_amount) AS Total_Expenses FROM transactions WHERE YEAR(Value_date) = YEAR(CURDATE()) - 1 GROUP BY YEAR(Value_date), MONTH(Value_date) ORDER BY Year DESC, Month DESC;"
}
  ,
    {
        'Question': "How much amount did I earned in the 3rd quarter of this year ?",
        'SQLQuery': """SELECT SUM(Deposit_amount) AS Earnings_3rd_Quarter
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                             AND QUARTER(Value_date) = 3"""
    },
    {
        'Question': "How much amount did I earned in the 1st quarter of this year ?",
        'SQLQuery': """SELECT SUM(Deposit_amount) AS Earnings_1st_Quarter
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                             AND QUARTER(Value_date) = 1"""
    },
    {
        'Question': "How much amount did I spent in the 2nd quarter of this year ?",
        'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Spending_2nd_Quarter
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                             AND QUARTER(Value_date) = 2"""
    },
    {
        'Question': "How much amount did I earned in June month ?",
        'SQLQuery': """SELECT SUM(Deposit_amount) AS Earnings_June
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                             AND MONTH(Value_date) = 6"""
    },
    {
        'Question': "How much amount did I earned in October month ?",
        'SQLQuery': """SELECT SUM(Deposit_amount) AS Earnings_October
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                             AND MONTH(Value_date) = 10"""
    },
    {
        'Question': "How much amount did I spent on February month ?",
        'SQLQuery': """SELECT SUM(Withdrawal_amount) AS Spending_February
                       FROM transactions
                       WHERE YEAR(Value_date) = YEAR(CURRENT_DATE())
                             AND MONTH(Value_date) = 2"""
    }





]

In [4]:
# Define the database schema
schema = """
CREATE TABLE transactions (
    `Account_No` VARCHAR(50) NOT NULL,
    `Transaction_details` TEXT,
    `Withdrawal_amount` INTEGER,
    `Deposit_amount` INTEGER,
    `Balance_amount` INTEGER,
    `Value_date` DATE,
    `Date` DATE
)
"""

### We need to convert the sql data into the format suitable for training the model . The appropriate format for "Tinyllama llm model" is:

##### [INST] 'database schema' . 'Instruction for the model' [/INST] 'SQLQuery that the model needs to generate' 

for example :
[INST] Here is the database schema: CREATE TABLE transactions ( `Account_No` VARCHAR(50) NOT NULL, `Transaction_details` TEXT, `Withdrawal_amount` INTEGER, `Deposit_amount` INTEGER, `Balance_amount` INTEGER, `Value_date` DATE, `Date` DATE ) . Please write me a SQL query that answers the following question: Income of last 3 months. ? [/INST] SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH)

In [6]:
data = [
    {
        'text': f"<s>[INST] Here is the database schema: {schema}. Please write me a SQL query that answers the following question: {item['Question']} [/INST] {item['SQLQuery']} </s>"
    }
    for item in few_shots
]

In [7]:
import pandas as pd
# Create a DataFrame
df = pd.DataFrame(data)

In [8]:
df.shape

(273, 1)

In [19]:
df['text'][0]

'<s>[INST] Here is the database schema: \nCREATE TABLE transactions (\n    `Account_No` VARCHAR(50) NOT NULL,\n    `Transaction_details` TEXT,\n    `Withdrawal_amount` INTEGER,\n    `Deposit_amount` INTEGER,\n    `Balance_amount` INTEGER,\n    `Value_date` DATE,\n    `Date` DATE\n)\n. Please write me a SQL query that answers the following question:  Income of last 3 months. ? [/INST] SELECT SUM(Deposit_amount) AS Total_Income FROM transactions WHERE Value_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH)  </s>'

# Creating a local storage to save the parquet file

In [10]:
# Define the local path to save the dataset
import os

local_dir = "./data"                       #Creating the folder name "data" locally to store the sql data parquet file 
if not os.path.exists(local_dir):
    os.makedirs(local_dir)

parquet_path = os.path.join(local_dir, "SQL-data.parquet")

# Converting the Dataframe into the Parquet file

In [11]:
# Save the DataFrame to a Parquet file
table = pa.Table.from_pandas(df)
pq.write_table(table, parquet_path)

# Hugging Face Authentication and Loading the parqet file into the hugging face

In [13]:
# To access the hugging face
from huggingface_hub import HfApi

HfFolder.save_token("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") #Change the hugging face token accordingly

In [14]:
# Uploading the dataset to Hugging Face
api = HfApi()
api.upload_file(
    path_or_fileobj=parquet_path,
    path_in_repo="SQL-data_6.parquet",                           #Name of the file in hugging face
    repo_id="prabal123/SQL_custom_dataset_6",                   #Repository ID in hugging face
    repo_type="dataset"
)

SQL-data.parquet:   0%|          | 0.00/23.6k [00:00<?, ?B/s]

CommitInfo(commit_url='https://huggingface.co/datasets/prabal123/SQL_custom_dataset_6/commit/6e855afc45afd0c5733fff29863073b74f022096', commit_message='Upload SQL-data_6.parquet with huggingface_hub', commit_description='', oid='6e855afc45afd0c5733fff29863073b74f022096', pr_url=None, pr_revision=None, pr_num=None)

# Now the Parqeut file (i.e custom dataset file) has been loaded into the hugging face . We can access dataset through the given below link
#### https://huggingface.co/datasets/prabal123/SQL_custom_dataset_6?row=0